{% extends 'accounts/main.html'%}
{% block contant %}
<body>
    <h1>Customer: {{customers.name }}</h1>
     
              <p><a href="">update</p></a>
             <p><a href="{% url 'create_order' customers.id %}">Place Order</p></a>
             
             <br>
             <br>
             <br>
    
    <h2>Contact details</h2> 
   
            <h3>Name: {{customers.name }}</h3>
            <h3>Phone: {{customers.phone }}</h3>
            <h3>Email: {{customers.email }}</h3>
        
<br>
<br>
<br>

<h2>Total Contact Oreders</h2> 
   
            <h3>{{total_orders }}</h3>
           
        
<br>
<br>
<br>
<form action="" method="GET">
    {{filter.form}}
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>Product</th>
        <th>Status</th>
        <th>Note</th>
        <th>Date Create</th>
        <th>Last Update</th>
        <th>Update</th>
        <th>Remove</th>
        
    </tr>
    {%for or in orders%}
        <tr>
            <td>{{or.product}} </td>
            <td> | {{ or.status}}  </td>
            
                {%if or.note == None%}
                    <td> |   </td>
                {% else %}
                    <td> | {{or.note}}   </td>
                {% endif %}
            {% if or.date_create == or.date_update %}
                <td> | {{ or.date_create}} </td>
                <td> |  </td>

            {% else %}
                <td> | {{ or.date_create}} </td>
                <td> | {{ or.date_update}} </td>
            {% endif %}
            <td> | <a href="{% url 'update_order' or.id %}">update</a></td>
            <td> | <a href="{% url 'delete_order' or.id %}">remove</a></td>
        </tr>
{% endfor %}

</table>
 

</body>
</html>
{% endblock  %}