{% extends 'accounts/main.html'%}
{% block contant %}

<body>


<table><tr><th>Total orders</th></tr> <tr><td>{{total_orders}}</td></tr></table>
<table><tr><th>Order delivered</th></tr> <tr><td>{{delivered}}</td></tr></table>
<table><tr><th>Order pending</th></tr> <tr><td>{{pending}}</td></tr></table>


    <h1>Customers</h1> 
    <table>
        <tr>
            
            <th>Name</th>
            <th>Phone</th>
        </tr>
        {%for cus in customers%}
            <tr>
                
                <td><a href="{% url 'customer' cus.id %}">{{cus.name }}</a>|</td>
                <td>{{cus.phone}}</td>
            </tr>
    {% endfor %}
    </table>
<div>
    <h1>orders</h1> 
    <table>
        <h4><a href="{% url 'create_order'  %}">Create Order</a> :</h4>
        <tr>
            <th>Product</th>
            <th>Status</th>
            <th>Date Create</th>
            <th>Last Update</th>
            <th>Update</th>
            <th>Remove</th>
            
        </tr>
        {%for or in orders%}
            <tr>
                <td>{{or.product}} </td>
                <td> | {{ or.status}}  </td>
                {% if or.date_create == or.date_update %}
                    <td> | {{ or.date_create}} </td>
                    <td> |  </td>

                {% else %}
                    <td> | {{ or.date_create}} </td>
                    <td> | {{ or.date_update}} </td>
                {% endif %}
                <td> <a href="{% url 'update_order' or.id %}">update</a></td>
                <td> | <a href="{% url 'delete_order' or.id %}">remove</a></td>
            </tr>
    {% endfor %}

</table>
   
</div>
</body>
</html>
{% endblock%}